h2 Add new Celebrity

form(action="/celebrities" method="POST") 
  input(type="text" name="name" placeholder="name")
  input(type="text" name="occupation" placeholder="occupation")
  input(type="text" name="catchPhrase" placeholder="catchPhrase")
  button(type="submit") Submit
  
a(href="/") go back