<h2>Edit Celebrity</h2>
{{#with celebritiesEdit}}
<form action="/celebrities/{{_id}}" method="POST">
<label for="name">name</label>
<input type="text" id="name" name="name" value="{{name}}">

<label for="occupation">Occupation</label>
<input type="text" id="occupation" name="occupation" value="{{occupation}}">

<label for="catchPhrase">catchPhrase</label>
<input type="text" id="catchPhrase" name="catchPhrase" value="{{catchPhrase}}">

<button type="submit">Edit Celebrity</button>

</form>
{{/with }}