h2 Edit Celebrity

form(action=`/celebrities/${celebrity.id}/edit` method="POST") 
  input(type="text" name="name" placeholder="name" value=`${celebrity.name}`)
  input(type="text" name="occupation" placeholder="occupation" value=`${celebrity.occupation}`)
  input(type="text" name="catchPhrase" placeholder="catchPhrase" value=`${celebrity.catchPhrase}`)
  button(type="submit") Edit
  
a(href="/") go back