
  <h1>Famous People aka Celebrities 💫</h1>
{{#each celebritiesList}}
		<p>{{name}}</p>
    <a href="/celebrities/{{ _id }}">Find out more!</a>
   <form action="/celebrities/{{ this._id }}/delete" method="POST">
    <button type="submit">Delete</button>
    </form>
    <a href="/celebrities/{{ this._id }}/edit">Edit</a>
{{/each}}


<a href="/celebrities/new">Add new celebrity</a>

