<h2>Celebrities List</h2>
{{#each celebritiesList}}
  {{!-- <p><a href="/books/{{this._id}}">{{this.title}}</a></p> --}}
  <p>{{this.name}}</p>
{{/each}}
{{!-- <a href="/books/add">Add a book</a> --}}