
<h2>Celebrities in the Database</h2>
<br>
{{#each celebrityList}}
  <h3><a href="/celebrities/{{_id}}"> {{ name }} </a></h3>

  <form action="/celebrities" method="GET">
    </h5><a href="/celebrities/{{_id}}/delete"><h5>Remove<h5></a>
  </form>

{{/each}}

<a href="/celebrities/new"><h4>Add a celebrity<h4></a>
