<h1>Celebrities</h1>

<!--celebrityList is an array -->

{{#each celebrityList}}
<h2>{{this.name}}</h2>

<div></p><a href="/celebrities/{{this._id}}">Check all the celebrities here</a></div>
<div><a href="/new"> Add a new Celebrity</a></div>
{{/each}}


