<h2>{{title}}</h2>
{{#each celebrities}}
<a>{{this.name}}</a>
<a href="/celebrities/{{this._id}}">See Details</a>
<form action="/celebrities/{{this.id}}/delete" method="POST"\>
  <button type="submit">Delete</button>
</form>


{{/each}}

<a href="/celebrities/new">Add new celebrity</a>