<h2>Index celebrities</h2>
{{#each celibritiesList}}
<a href="/celebrities/{{this._id}}">{{name}}</a>
<form action="/celebrities/{{this._id}}/delete" method="POST"> 
  <button>Delete</button>
</form>
{{/each}}

<a href="/celebrities/new">Add a celebrity</a>
