<h2>All Celebrities</h2>
{{#each celebrities}}
<p><a href="/celebrities/{{_id}}">{{name}}</a> <a href="/celebrities/{{_id}}/delete">delete</a></p>
{{/each}}
<a href="/celebrities/new">Add a celebrity</a>