<h1>Celebrities List</h1>

{{#each celebritiesList}}
<p>{{this.name}}</p>
<p><a href="/celebrities/{{this.id}}">Link</a></p>
<form action="/celebrities/{{this.id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>
{{/each}}
<a href="/celebrities/new">Add New Celebrity</a>