<h2></h2>

<form action="/celebrities" method="POST" id='button'>
  <label for="name">Full name</label>
  <input type="name" id="name" name="name"><br>
  <label for="occupation">Occupation</label>
  <input type="text" id="occupation" name="occupation"><br>
  <label for="catchPhrase">catchPhrase</label>
  <input type="text" id="catchPhrase" name="catchPhrase"><br>
</form>

<button type="submit" form="button" value="Submit">Submit</button>