<h2>ADD SOME OF YOUR FAV CELEBS</h2>
<form action="/celebrities" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="title">
  <label for="occupation">Occupation:</label>
  <input type="text" name="occupation" id="occupation">
  <label for="catchPhrase">Famous Quote:</label>
  <input type="text" name="catchPhrase" id="catchPhrase">
  <button type="submit">add your celeb!</button>
</form>