
<h3>Add new celebrity</h3><br>

<form action="/celebrities" method="POST" class="form-layout">

  <label for="name">Name: </label>
  <input type="text" name="name" id=""><br><br>

  <label for="author">Occupation: </label>
  <input type="text" name="occupation" id=""><br><br>

  <label for="description">Catchphrase: </label>
  <input type="text" name="catchPhrase" id=""><br><br>

  <button type="submit">Add a celebrity</button>

</form>