
<h2>Enter a new Celebrity</h2>
<form action="/celebtities" method="POST">
  <label for="title">Title: </label>
  <input type="name" name="name" id="name">
  <label for="occupation"> occupation: </label>
  <input type="occupation" name="occupation" id="occupation">
    <label for="catchPhrase"> catch Phrase: </label>
  <input type="catchPhrase" name="catchPhrase" id="catchPhrase">

  <button type="submit">Add a new Celebrity</button>
</form>



