<h2>Enter details</h2>
<form action="/celebrities" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="title" id="title">

  <label for="occupation">Occupation: </label>
  <input type="text" name="author" id="author">

  <label for="catchPhrase">Catch Phrase: </label>
  <input type="text" name="description" id="description">

  <button type="submit">Add a celebrity</button>
</form>