<h2>Add a new celebrity</h2>
<form action="/celebrities" method="POST">
  <label for="name">Add Name: </label>
  <input type="text" name="name" id="name">

  <label for="occupation">Add Occupation: </label>
  <input type="text" name="occupation" id="occupation">

  <label for="phrase">Add catch phrase: </label>
  <input type="text" name="phrase" id="phrase">
  <button type="submit">Add a celebrity</button>
</form>