<h2>Celebrity Details</h2>
{{#with celebDetails}}
  <ul>
    <li>Name: {{name}}</li>
    <li>Occupation: {{occupation}}</li>
    <li>Catch phrase: {{catchPhrase}}</li>
    <a href="/celebrities/edit/{{_id}}">Click me to edit</a>
  </ul>
{{/with}}