{{!-- <h2>Details here!</h2> --}}
{{#with celebrity}}
  <h2>{{this.name}}</h2>
  <h3>Occupation</h3>
  <p>{{this.occupation}}</p>
  <h3>Catch Phrase</h3>
  <p>{{this.catchPhrase}}</p>
  <a href="/celebrities/{{this.id}}/edit">Edit</a>
{{/with}}

<a href="/celebrities">Back to overview</a>