<h2>Celebrity</h2>

{{#with celebrity}}
    <p>name: {{name}}</p>
    <p>occupation: {{occupation}}</p>
    <p>catchPhrase: {{catchPhrase}}</p>

    <a href="/celebrities/{{_id}}/edit">Edit celebrity</a>

{{/with}}