<h2>Celebrities' details</h2>

{{#with celebritiesDetails}}
<h3>{{name}}</h3>

<span style="color:grey">{{occupation}}</span>

<p>Catchphrase: {{catchPhrase}}</p>

<p><a style="font-size:15px; text-decoration: none" href="/celebrities/{{_id}}/edit">Edit this celebrity details</a></p>

{{/with}}