<h2>✨ a list of some famous and not so famous people ✨</h2>
{{#with celebrity}}
<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catchphrase: {{catchPhrase}}</p>
<a href="/celebrities/{{_id}}/edit">Edit</a>
{{/with}}