<h1>Celebrities</h1>


{{#each celebsList}}
  <p><a href="/celebrities/{{this._id}}">{{this.name}}</a></p>
{{/each}}

<a href="/new" style="color:darkcyan"> + + + + + +<br> +ADD NEW+ <br> + + + + + +</a>



<p><br><a href="/" style="color:blue">/return</a></p>
