
{{#with show}}
<h1>Delete Celebrity</h1>
<h2 style="color:red">You sure you want to delete the impeccable {{name}} from you database?</h2>
<p><br><br><br><a href="/gone/{{_id}}" style="color:crimson">YES, DELETE</a></p>
{{/with}}