<h1>{{title}}</h1>
<p>Welcome</p>

<h2><a href="/celebrities">Click here to check out some celebos!</a></h2>
<h2><a href="/new">You already have a celebrity in mind who you want to create? Then click here!</a></h2>


