<h2>{{title}}</h2>
<h3>Click on the menu above to see or add movies and celebrities</h3>

<p id="suggestion">Please refer to the file "seedsMovies.js" for suggestions of movies to add to the database</p>