
<h1>{{title}}</h1>

<div class="container-col">
  <p>Welcome to the {{title}}</p>

  <div class="container-row">
    <a href="/celebrities">
      <button>
        List of Celebrities
      </button>
    </a>

      <a href="/celebrities/new">
      <button>
      Add Celebrity!
      </button>
    </a>
  </div>

  <div class="container-row">
        <a href="/movies">
      <button>
        List of Movies
      </button>
    </a>

      <a href="/movies/new">
      <button>
      Add Movie!
      </button>
    </a>
  </div>

</div>
