<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities">Watch Celebrities</a>
<a href="/celebrities/new">Add a Celebrity</a>
<a href="/movies">Watch movies</a>
<a href="/movies/new">Add a movie</a>