
<h1>{{title}}</h1>

<div class="container-col">
  <p>Welcome to the {{title}}</p>

  <a href="/celebrities">
    <button>
      Take me to the Celebrities
    </button>
  </a>

    <a href="/celebrities/add">
    <button>
     Add a celebrity to the DB
    </button>
  </a>
</div>
