<!DOCTYPE html>
<html lang="en">

   <head>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
          <div class="topnav">
         <a href="index">Home</a>
         <a href="celebrities">List</a>
         <a href="add">Add</a>
         <a href="delete">Delete</a>
         
         </div>
   </head>

   <body>
  

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>