<h2>Add a new celebrity</h2>
<form action="/celebrities" method="POST">
  <input type="text" name="name" id="name" placeholder="Name">
  <input type="text" name="occupation" id="occupation" placeholder="Occuption">
  <input type="text" name="catchPhrase" id="catchPhrase" placeholder="Catch Phrase">
  <button type="submit">Add Me!</button>
</form>