body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #c0c0c0;
    padding: 50px 0;
}

a {
    color: #00b7ff;
    text-decoration: none;
    margin-top: 2%;
    border: none;
    cursor: pointer;
    outline: none;
}

h1 {
    /* color: 15px; */
}
h2 {
    margin-left: 5%;
}

/*# sourceMappingURL=style.css.map */
.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* flex-direction: column; */
}
button {
    width: 24%;
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 3%;
}
.menu {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.form {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* input {
    line-height: 2rem;
} */

#delete-btn {
    width: 100%;
    margin: 0;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}
#add-btn {
    margin-left: 5%;
}
.result-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1em;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 7% 2% 0 5%;
    padding: 20px;
    width: 66%;
    height: 10rem;
    background-color: rgba(147, 158, 158, 0.2);
}
.result-card.highlight {
    align-items: flex-start;
    height: 30rem;
}
.result-card.small {
    width: 20%;
    height: 8rem;
}
.result-card p {
    margin-top: -1%;
}
/* option {
    height: 10rem;
} */
ul > li {
    list-style-type: none;
}
