<h2>Edit Movie</h2>
{{#with movieInfo}}
<form action="" method="post">
<label for="title">Title:</label>
<input type="text" value="{{title}}" name="title">
<label for="genre">Genre:</label>
<input type="text" value="{{genre}}" name="genre">
<label for="plot">Plot:</label>
<input type="text" value="{{plot}}" name="plot">
<button type="submit">Edit</button>
</form>
{{/with}}
