<h2>Movies</h2>

  {{#each movies}}
  <a href="/movies/{{this.id}}">{{this.title}}</a><br>
  {{!-- <form action="/celebrities/{{this._id}}/delete" method="POST">
    <button type="submit">Delete</button>
  </form> --}}
  {{/each}}
  
  <a href="/movies/new">Add a movie</a>