<h2>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="movies">
  <form action="/movies" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="genre" placeholder="Genre">
    <input type="text" name="plot" placeholder="Plot">
    <input type="text" name="cast" placeholder="Cast">
    <button id="btn-submit">Add movie</button>
  </form>
</div>